# Python environment
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.env


# Data directory structure tracking (ignore contents, keep folders via .gitkeep)
data/*
!data/**/
!data/**/*.gitkeep

# Models & Artifacts
models/*.pkl
models/*.joblib
models/*.pt
models/*.onnx

# Large data file types
*.csv
!reports/*.csv
*.parquet
*.feather
*.h5
*.hdf5
*.pkl
*.zip
*.tar
*.gz

# IDE and OS
.vscode/
.idea/
.DS_Store
Thumbs.db